<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ZoomApp.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %></title>

    <!-- Zoom Step 1 -->
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.7.2/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.7.2/css/react-select.css" />
</head>
<body>
    <!-- Zoom Step 2 -->
    <script src="https://source.zoom.us/1.7.2/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/jquery.min.js"></script>
    <script src="https://source.zoom.us/1.7.2/lib/vendor/lodash.min.js"></script>

    <!-- Zoom Step 3 -->
    <script src="https://source.zoom.us/zoom-meeting-1.7.2.min.js"></script>
    
    <asp:ContentPlaceHolder ID="MainContent" runat="server">
    </asp:ContentPlaceHolder>
</body>
</html>
